/* Google Font import: */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Inconsolata);

// Fonts: "Ubunu", "Open Sans", "Raleway"
@font-family-sans-serif:  "Raleway", sans-serif;
@font-family-monospace:   "Inconsolata", monospace;

@font-size-base:          18px;
@font-size-small:         12px;

@font-size-h1:            30px;
@font-size-h2:            floor(@font-size-base * 1.2);
@font-size-h3:            ceil(@font-size-base * 1.15);
@font-size-h4:            ceil(@font-size-base * 1.1);
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85);

@line-height:             1.4;
@line-height-headings:    1.1;

@font-weight-light:       300;
@font-weight-base:        400;
@font-weight-strong:      700;

@color-primary-darkest:   #000;
@color-primary-darker:    #393939;
@color-primary-dark:      #494949;
@color-primary:           #555;
@color-primary-light:     #777;

@color-emphasis:          rgb(230, 0, 0);
@color-emphasis-dark:     darken(@color-emphasis, 25%);

@color-text:              @color-primary;
@color-link:              @color-emphasis;
@color-link-hover:        @color-emphasis-dark;
@color-code:              @color-primary-darkest;
@color-border-line:       #e5e5e5;

@selection-bg:            #444;
@selection-color:         #ddd;

@media-reduced-width:      960px;
@media-collapse-width:     890px;
@media-tiny-width:         640px;
@media-min-width:          400px;
@media-height-hide-footer: 670px;

.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
     -moz-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}

.transform(@transformation) {
  -webkit-transform: @transformation;
      -ms-transform: @transformation;
          transform: @transformation;
}

.link-hover {
  color: @color-link-hover;
}

.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

.tight() {
  margin: 0;
  padding: 0;
}

/*****************************/
/* BASIC LAYOUT & COMPONENTS */
/*****************************/
html {
  /* The absolute width that the website will crush down to: */
  min-width: @media-min-width;
}
body {
  padding: 50px;
  color: @color-text;
  font-family: @font-family-sans-serif;
  font-weight: @font-weight-base;
  font-size: @font-size-base;
  line-height: @line-height;

  @media print, screen and (max-width: @media-collapse-width) {
    word-wrap: break-word;
  }
  @media print, screen and (max-width: @media-tiny-width) {
    padding: 15px;
  }
  @media print {
    padding: 0.4in;
    font-size: @font-size-small;
    color: @color-primary-darkest;
  }
}

::selection {
  background-color: @selection-bg;
  color: @selection-color;
}

.wrapper {
  width: 860px;
  margin: 0 auto;

  @media print, screen and (max-width: @media-reduced-width) {
    width: 100%;
  }
  @media print, screen and (max-width: @media-collapse-width) {
    width: auto;
    margin: 0;
  }
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 20 0;
}

img {
  max-width: 100%;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;

  @media print, screen and (max-width: @media-collapse-width) {
    border: 1px solid @color-border-line;
    border-width: 1px 0;
    padding: 1em 0;
  }
}

hr {
  border: 0;
  background: @color-border-line;
  height: 1px;
  margin: 0 0 20px;
}

#posts {
  a {
    /* We don't want underlines beneath every post title on the homepage: */
    text-decoration: none;

    &:hover {
      color: @color-link;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 8px 0;

      .date {
        color: @color-primary-light;
        float: right !important;
        font-size: @font-size-small;
        font-weight: @font-weight-light;
        padding: (@font-size-base - @font-size-small) / 2 0;
      }
    }
  }
}
#post {
  padding-bottom: 1em;

  .nav {
    font-weight: @font-weight-light;

    hr {
      margin: 20px 0 10px;
    }

    /* Three column layout for <next> <date> <prev> */
    .next {
      float: left;
      width: 33%;
    }
    .date {
      display: inline-block;
      width: 33%;
      text-align: center;
      color: @color-primary-light;
      font-size: @font-size-small;
      padding: (@font-size-base - @font-size-small) / 2 0;
    }
    .previous {
      float: right;
      width: 33%;
      text-align: right;
    }
  }
}

.paper,
.paper p {
  text-align: center;
}
.paper {

  img {
    max-width: 250px;
    border: solid 1px #aaa;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }

  .description {
    font-size: 90%;
    max-width: 75%;
    margin: auto;
  }
}

/**************/
/* TYPOGRAPHY */
/**************/
b {
  font-weight: @font-weight-strong;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: @font-weight-light;
  color: @color-primary-darkest;
  margin: 0 0 10px;
  text-align: center;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
header a {
  color: @color-link;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
header a:hover {
  .link-hover();
}

h5,
h6 {
  font-weight: @font-weight-strong;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2,
h3 {
  line-height: @line-height-headings;
}
h1 {
  font-size: @font-size-h1;
  padding: 0 0 30px;
  margin: 30px 0;
  border-bottom: 1px solid @color-border-line;
}
h2 {
  font-size: @font-size-h2;
}
h3 {
  font-size: @font-size-h3;
}
h4 {
  margin-top: 1em;
  font-size: @font-size-h4;
}
h5 {
  font-size: @font-size-h5;
}
h6 {
  font-size: @font-size-h6;
}
/* Our hidden title placeholder for scaling text. See site.js */
#hidden-title {
  position: absolute;
  visibility: hidden;
}
#hidden-title, h1.title {
  white-space: nowrap;
}

a {
  color: @color-primary-darkest;
  text-decoration: underline;
  .transition-duration(0.3s);

  &:hover {
    color: @color-link;
  }

  small {
    color: @color-text;
    margin-top: -0.6em;
    display: block;
  }
}

blockquote,
pre {
  /* Add left rule but maintain vertical alignment. */
  @rule-colour: #d5d5d5;
  @rule-width: 2px;
  @rule-offset: 10px;

  border-left: @rule-width solid @rule-colour;
  margin: 0 0 0 -(@rule-width + @rule-offset);
  padding: 0 0 0 @rule-offset;
}

code,
pre {
  font-family: @font-family-monospace;
  color: @color-code;
  font-size: 90%;
  line-height: 1.1em;

  @media print, screen and (max-width: @media-collapse-width) {
    word-wrap: normal;
  }
}
/* Inline code, but not pre-formatted code blocks: */
p code {
  background-color: #f5f5f5;
}

strong {
  color: @color-primary-darkest;
  font-weight: @font-weight-strong;
}

small {
  font-size: @font-size-small;
}

section {
  p {
    text-align: justify;
    text-justify: newspaper;
  }

  h1:first-child {
    margin-top: 0;
  }
}

/* Padding around numbered lists */
ol {
  padding: 0;
  li {
    margin: 1em 0;
  }
}

/**********/
/* TABLES */
/**********/
table {
  width: 100%;
  border-collapse: collapse;

  thead td,
  dt {
    font-weight: @font-weight-strong;
  }

  th,
  td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid @color-border-line;
  }
}


/*********************/
/* HEADER AND FOOTER */
/*********************/
header,
footer {
  zoom: 1.1;
  width: 270px;
  text-align: center;
  .user-select(none);
  font-weight: @font-weight-light;

  @media screen and (min-width: @media-collapse-width) {
    float: left;
    position: fixed;
  }

  /* Site header and nav links: */
  h1 {
    font-family: @font-family-sans-serif;
    padding: 0;
    margin: 0 0 .5em 0;
    border: none;

    a {
      color: @color-primary-darkest;
      font-weight: @font-weight-light;
      padding: 5px;

      &:hover {
        .link-hover();
        color: @color-emphasis;
      }
    }

    ul {
      font-size: @font-size-small;
      font-weight: @font-weight-base;
      .tight();

      li {
        display: inline;
        & + li:before { content: "|"; }
      }
    }
  }

  .img-frame {
    margin: 15px 0;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    overflow: hidden;
    z-index: 1;
    /*
     * Needed to prevent strange clipping error during scale animation of
     * underlying image.
     *
     * See: http://stackoverflow.com/a/20037972
     */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  ul {
    list-style-type: none;
    line-height: 1.3;
    margin: 0.5em 0;
    .tight();

    li {
      margin: .8em 0;

      small { padding: .5em 0 0 .5em; }
    }
  }

  /* Collapsed view: show link subtitles on same line: */
  @media (max-width: @media-collapse-width) {
    a small { display: inline; }
  }
}

footer {
  bottom: 0px;
  p { margin-bottom: 3px; }
  a { color: @color-primary-light; text-decoration: none; }

  /* Prevent footer from overlapping navbar on short screens: */
  @media screen
         and (max-height: @media-height-hide-footer)
         and (min-width: @media-collapse-width) {
    display: none;
  }
}


/**************/
/* RESPONSIVE */
/**************/
header,
section,
footer {
  @media print, screen and (max-width: @media-collapse-width) {
    float: none;
    position: static;
    width: 500px;
    margin: auto;
  }
}

/*********************/
/* Thumbnail gallery */
/*********************/
@thumbnail-label-init-opacity:  0;
@thumbnail-label-hover-opacity: 1;

@thumbnail-img-init-opacity:    1;
@thumbnail-img-hover-opacity:   .5;

.thumbnails {
    .thumbnail {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 160px;
        height: 160px;
        background: #000;
        border: solid 1px #000;

        .image {
            height: 160px;
            line-height: 0;
            img { opacity: @thumbnail-img-init-opacity; }
        }

        .label {
            margin: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10;
            opacity: @thumbnail-label-init-opacity;
            p {
                position: absolute;
                width: 100%;
                margin: 0;
                top: 50%;
                transform: translate(0, -50%);
                text-align: center;
                color: #fff;
                font-weight: 700;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
        }

        .image img,
        .label {
            -webkit-transition: all .5s ease;
               -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                 -o-transition: all .5s ease;
                    transition: all .5s ease;
        }

        :hover {
            .image img { opacity: @thumbnail-img-hover-opacity; }
            .label     { opacity: @thumbnail-label-hover-opacity; }
        }

    }
}


/***********************/
/* Syntax highlighting */
/***********************/
@highlight-default:       @color-primary;
@highlight-comment:       #2b652b;
.highlight  { background: #ffffff; }
.highlight .c { color: @highlight-comment; } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: @highlight-default } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: @highlight-default } /* Literal.String.Backtick */
.highlight .sc { color: @highlight-default } /* Literal.String.Char */
.highlight .sd { color: @highlight-default } /* Literal.String.Doc */
.highlight .s2 { color: @highlight-default } /* Literal.String.Double */
.highlight .se { color: @highlight-default } /* Literal.String.Escape */
.highlight .sh { color: @highlight-default } /* Literal.String.Heredoc */
.highlight .si { color: @highlight-default } /* Literal.String.Interpol */
.highlight .sx { color: @highlight-default } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: @highlight-default } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.type-csharp .highlight .k { color: #0000FF }
.type-csharp .highlight .kt { color: #0000FF }
.type-csharp .highlight .nf { color: #000000; font-weight: normal }
.type-csharp .highlight .nc { color: #2B91AF }
.type-csharp .highlight .nn { color: #000000 }
.type-csharp .highlight .s { color: #A31515 }
.type-csharp .highlight .sc { color: #A31515 }
