---
title: Chris Cummins
banner: /img/banners/death-valley.jpg
---

<div class="big-list">
  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
  {% unless forloop.first %}</ul>{% endunless %}
  <h1>{{ currentdate }}</h1>
  <ul>
    {% assign date = currentdate %}
    {% endif %}
    <li>
      <span class="hang-right">{{ post.date | date: "%-d %b" }}</span>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
      <span class="hang-left">{{ post.date | date: "%-d %b" }}</span>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  </ul>
</div>