---
layout: default
title: Art
banner: /img/banners/negatives.jpg
---

<div class="art-container">

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mb-5 btn-row">
      <button type="button" class="btn btn-primary undecorated art-filter" data-rel="art-category-all">All</button>
      {% for tag in site.data.art.tags %}
        <button type="button" class="btn btn-primary undecorated art-filter" data-rel="art-category-{{ tag | lower }}">{{ tag }}</button>
      {% endfor %}
    </div>
  </div>

  <div class="gallery" id="gallery">
    {% for image in site.data.art.images %}
      <div class="mb-3 pics animation art-category-all {% for tag in image.tags %}art-category-{{ tag | lower }} {%endfor%}">
        <img class="img-fluid" src="{{ image.url-small }}" alt="{{ image.name }}" data-fullsize="{{ image.url-full }}">
      </div>
    {% endfor %}
  </div>

</div>

<div id="art-modal" class="modal">
  <img id="modal-img" class="modal-content">
  <div id="modal-caption"></div>
</div>
