<ul class="around-the-web">
  {% for profile in site.data.cv.basics.profiles %}
    <li>
      <a title="{{ profile.username }}" target="_blank" href="{{ profile.url }}">
        {% assign banner_url = '/img/social/' | append: profile.network | downcase | append: '.png' %}
        <img src="{{ banner_url | relative_url }}" alt="{{ profile.network }}"/>
        {% comment %} No longer used: <i class="fa {{ profile.icon }}"></i> {% endcomment %}
        <span>{{ profile.network }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
