<ul class="around-the-web">
  <li><a href="https://github.com/ChrisCummins" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a></li>
  <li><a href="https://www.linkedin.com/in/chris-cummins-25540455/" target="_blank"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
  <li><a href="http://www.facebook.com/cecummins" target="_blank"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
  <li><a href="http://www.youtube.com/user/ChrisCummins" target="_blank"><i class="fa fa-youtube-play"></i><span>YouTube</span></a></li>
  <li><a href="https://instagram.com/iamchriscummins/" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
  <li><a href="https://twitter.com/iamchriscummins" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
</ul>
