{% comment %}
Create links to profiles on other sites from datafile.

For generating the logo images, we must read a `social_images` dictionary
defined in _config.yml, which maps social network name to an obfuscated image
path. This is to prevent AdBlock, which will block image elements by pattern
matching on the filename. e.g. "/img/social/facebook.png" will be blocked.
{% endcomment %}
<ul class="around-the-web">
  {% for profile in site.data.cv.basics.profiles %}
    <li>
      <a title="{{ profile.username }}" target="_blank" href="{{ profile.url }}">
        {% assign site_name = profile.network | downcase %}
        {% for social in site.social_images %}
          {% if site_name == social[0] %}
            <img src="{{ social[1] | relative_url }}" />
          {% endif %}
        {% endfor %}
        <span>{{ profile.network }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
