<div class="banner">
  <h1 class="noselect"><a href="{{ '/' | relative_url }}">CHRIS<strong>CUMMINS</strong></a></h1>
  <p>
    {% if page.url == "/" %}
      <span>blog</span> |
    {% else %}
      <a href="{{ '/' | relative_url }}">blog</a> |
    {% endif %}
    {% if page.url == "/cv/" %}
      <span>resume</span> |
    {% else %}
      <a href="{{ '/cv/' | relative_url }}">resume</a> |
    {% endif %}
    {% if page.url == "/software/" %}
      <span>software</span> |
    {% else %}
      <a href="{{ '/software/' | relative_url }}">software</a> |
    {% endif %}
    {% if page.url == "/art/" %}
      <span>art</span>
    {% else %}
      <a href="{{ '/art/' | relative_url }}">art</a>
    {% endif %}
  </p>
</div>
