{% comment %} Open Graph protocol. See: http://ogp.me/ {% endcomment %}
{% if page.url == "/" %}
<meta property="og:type" content="blog"/>
{% else %}
<meta property="og:type" content="article"/>
{% endif %}
<meta property="og:site_name" content="chriscummins.cc"/>
<meta property="og:url" content="{{ page.url | absolute_url }}"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:image" content="{{ '/img/site.jpg' | absolute_url }}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="629"/>
<meta property="og:description" content="{{ site.data.cv.basics.summary }}"/>
