---
title: Resume
banner: /img/banners/san-fran.jpg
---

<div class="btn-row">
  <ul>
    <li><a title="Link opens in new window" target="_blank" href="{{ '/cv.pdf' | relative_url }}" class="btn btn-primary undecorated" role="button">View PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
    <li><a title="Link opens in new window" target="_blank" href="{{ '/cv.json' | relative_url }}" class="btn btn-primary undecorated" role="button">View JSON <i class="fa fa-file-o" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="cv big-list">
  <h1>Education <a class="expand-all" role="button" href="#edu">show all</a></h1>
  <ul>
  {% for entry in site.data.cv.education %}
    <li class="has-caret">
      <span class="hang-right">{{ entry.endDate }}</span>
      <a class="undecorated" role="button" data-toggle="collapse" href="#edu-{{ forloop.index }}" aria-expanded="false" aria-controls="edu-{{ forloop.index }}">{{ entry.studyType }}, {{ entry.institution }}</a>
      <span class="hang-left">{{ entry.endDate }}</span>
      <div class="edu collapse" id="edu-{{ forloop.index }}">
        <div class="collapse-content">
          <table>
          {% if entry.grade %}
          <tr><td>Grade</td><td>{{ entry.grade | markdownify | remove: '<p>' | remove: '</p>' }}</td></tr>
          {% endif %}
          <tr><td>Thesis</td><td>{{ entry.thesis | markdownify | remove: '<p>' | remove: '</p>' }}</td></tr>
          <tr><td>Advisors</td><td>{{ entry.advisors | markdownify | remove: '<p>' | remove: '</p>' }}</td></tr>
          </table>
          <p class="justify">
            {{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          {% if entry.assets %}
            <div class="btn-row">
              <ul>
              {% for asset in entry.assets %}
                <li><a title="Link opens in new window" target="_blank" href="{{ asset.url }}" class="btn btn-primary undecorated" role="button">{{ asset.name }}{% if asset.icon %}<i class="fa {{ asset.icon }}" aria-hidden="true"></i>{% endif %}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <h1>Publications <a class="expand-all" role="button" href="#pub">show all</a></h1>
  <ul>
  {% for entry in site.data.cv.publications %}
    <li class="has-caret">
      <span class="hang-right">{{ entry.releaseDate }}</span>
      <a class="undecorated" role="button" data-toggle="collapse" href="#pub-{{ forloop.index }}" aria-expanded="false" aria-controls="pub-{{ forloop.index }}">{{ entry.name }}</a>
      <span class="hang-left">{{ entry.releaseDate }}</span>
      <div class="pub collapse" id="pub-{{ forloop.index }}">
        <div class="collapse-content">
          <table>
          <tr><td>Authors</td><td>{{ entry.authors | markdownify | remove: '<p>' | remove: '</p>' }}</td></tr>
          <tr><td>Publication</td><td>{{ entry.publication | markdownify | remove: '<p>' | remove: '</p>' }}</td></tr>
          </table>
          <p class="justify">
            {{ entry.summary | markdownify }}
          </p>
          {% if entry.assets %}
            <div class="btn-row">
            <ul>
              {% for asset in entry.assets %}
                <li><a title="Link opens in new window" target="_blank" href="{{ asset.url }}" class="btn btn-primary undecorated" role="button">{{ asset.name }}{% if asset.icon %}<i class="fa {{ asset.icon }}" aria-hidden="true"></i>{% endif %}</a></li>
              {% endfor %}
            </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <h1>Professional Experience <a class="expand-all" role="button" href="#work">show all</a></h1>
  <ul>
  {% for entry in site.data.cv.work %}
    <li class="has-caret">
      <span class="hang-right">{{ entry.startDate }}{% if entry.endDate != entry.startDate %}-{% if entry.endDate == "" %}current{% else %}{{ entry.endDate }}{% endif %}{% endif %}</span>
      <a class="undecorated" role="button" data-toggle="collapse" href="#work-{{ forloop.index }}" aria-expanded="false" aria-controls="work-{{ forloop.index }}">{{entry.position}}, {{ entry.company }}</a>
      <span class="hang-left">{{ entry.startDate }}{% if entry.endDate != entry.startDate %}-{% if entry.endDate == "" %}current{% else %}{{ entry.endDate }}{% endif %}{% endif %}</span>
      <div class="work collapse" id="work-{{ forloop.index }}">
        <div class="collapse-content">
          <p class="justify">
            {{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          {% if entry.assets %}
            <div class="btn-row">
            <ul>
              {% for asset in entry.assets %}
                <li><a title="Link opens in new window" target="_blank" href="{{ asset.url }}" class="btn btn-primary undecorated" role="button">{{ asset.name }}{% if asset.icon %}<i class="fa {{ asset.icon }}" aria-hidden="true"></i>{% endif %}</a></li>
              {% endfor %}
            </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <h1>Awards</h1>
  <ul>
  {% for entry in site.data.cv.awards %}
    <li>
      <span class="hang-right">{{ entry.date }}</span>
      {{ entry.title | markdownify | remove: '<p>' | remove: '</p>' }}
      <span class="hang-left">{{ entry.date }}</span>
    </li>
  {% endfor %}
  </ul>

  <h1>Invited Talks <a class="expand-all" role="button" href="#talks">show all</a></h1>
  <ul>
  {% for entry in site.data.cv.academic_activities.invited_talks %}
    <li class="has-caret">
      <span class="hang-right">{{ entry.date }}</span>
      <a class="undecorated" role="button" data-toggle="collapse" href="#talks-{{ forloop.index }}" aria-expanded="false" aria-controls="talks-{{ forloop.index }}">{{ entry.name }}</a>
      <span class="hang-left">{{ entry.date }}</span>
      <div class="talks collapse" id="talks-{{ forloop.index }}">
        <div class="collapse-content">
          <p>{{ entry.summary }}</p>
          {% if entry.assets %}
            <div class="btn-row">
              <ul>
              {% for asset in entry.assets %}
                <li><a title="Link opens in new window" target="_blank" href="{{ asset.url }}" class="btn btn-primary undecorated" role="button">{{ asset.name }}{% if asset.icon %}<i class="fa {{ asset.icon }}" aria-hidden="true"></i>{% endif %}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <h1>Other Academic Activities</h1>
  <table>
    <tr>
      <td>Posters</td><td>
        {% for entry in site.data.cv.academic_activities.posters %}
          {% if forloop.last %}and {% endif %}
          {% if entry.url %}<a class="decorated" title="Link opens in new window" target="_blank" href="{{ entry.url }}">{% endif
          %}{{ entry.name }}{%
            if entry.url %}</a>{% endif %}
          ({{ entry.date }}){%
            if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Peer Reviews</td><td>
        {% for entry in site.data.cv.academic_activities.peer_reviews %}
          {% if forloop.last %}and {% endif %}
          {% if entry.url %}<a class="decorated" title="Link opens in new window" target="_blank" href="{{ entry.url }}">{% endif
          %}{{ entry.name }}{%
            if entry.url %}</a>{% endif %}
          ({{ entry.date }}){%
            if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>

  <h1>Key Technical Skills</h1>
  <table>
  {% for entry in site.data.cv.skills %}
    <tr>
      <td>{{ entry.level }}</td>
      <td>
        {{ entry.keywords | array_to_sentence_string }}.
      </td>
    </tr>
  {% endfor %}
  </table>

</div> <!-- /.cv -->
