@mixin banner() {
    // title banner
    div.banner {
        position: relative;
        left: -50%;

        // tight border on tiny screens
        padding: 17px 17px 15px 8px;
        @media (min-width: $screen-xs-min) {
            padding: 17px 40px 15px 25px;
        }

        background-color: #fff;
        display: inline-block;
        @media (min-width: $screen-sm-min) { left: 0; }

        h1 {
            margin: 0;
            padding: 0;
            font-weight: 400;

            font-size: 32px;
            @media (min-width: $screen-xs-min) {
                font-size: 36px;
            }
        }

        p {
            @include noselect;
            @include transition-duration(0.3s);

            text-align: center; /* only on small screens */
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 0 5px;
            padding: 0;

            @media (min-width: $screen-sm-min) {
                text-align: left;
                margin: 0;
            }
        }

        $banner-a-horizontal-padding: 4px;

        a, span {
            padding: 10px $banner-a-horizontal-padding;
            color: #000;
        }

        a {
            cursor: pointer; // reset because of noselect mixin

            @include transition-duration(0.3s);

            &:hover {
                color: $color-highlight;
                text-decoration: none;
            }
        }

        span {
            color: $color-link;
        }

        @media (min-width: $screen-sm-min) {
            a:first-child, span:first-child {
                margin-left: -$banner-a-horizontal-padding;
            }
        }
    }
}
