{% extends "_page.html" %}

{% block header %}

<style>
  body {
    min-height: 1000px;
  }

  /* Per-Step Styles */
  #overview {
      display: none;
      height: 1px;
  }
  .impress-on-overview .step {
      opacity: 0.3;
      cursor: pointer;
  }
  .impress-on-overview .step:hover {
      opacity: 1;
  }
  .impress-on-overview a:hover,
  .impress-on-overview a:focus {
    /* Zero link effects on overview */
    color: #4f6e8d;
  }
</style>

{% endblock %}

{% block content %}

<div id="impress">

  <div id="hello" class="step" data-y="500">
    <center>
      <p id="hellomessage">
	<?php
	   if (isset($_COOKIE["visit"]))
	   echo "Hello again.";
	   else
	   echo "Hi.";
	   ?>
      </p>
    </center>
  </div>

  <div id="thingsido" class="step" data-x="1200" data-y="-100" data-rotate="90" data-scale="2">
    I love making things. Especially <br />
    <a id="music" href="/music/">music</a>,
    <a id="software" href="/software/">software</a>, and
    <a id="pictures" href="/pictures/">pictures</a>.
  </div>

  <div id="writings" class="step" data-y="-1300" data-scale="0.7">
    Occasionally I <a href="blog/">write</a>,
    when the mood takes me.
  </div>

  <div id="contactme" class="step" data-x="-1200" data-y="-350" data-rotate="270">
    <center><div id="findme">You can find me elsewhere:</div>

      <a id="linkedin" href="http://www.linkedin.com/profile/view?id=195091553" target="_blank">
	<img src="/img/linkedin.png" alt="Linked In"></a>
      <a id="facebook" href="http://www.facebook.com/cecummins" target="_blank">
	<img src="/img/facebook.png" alt="Facebook"></a>
      <a id="youtube" href="http://www.youtube.com/user/ChrisCummins" target="_blank">
	<img src="/img/youtube.png" alt="YouTube"></a>
      <a id="soundcloud" href="http://soundcloud.com/peakstudio" target="_blank">
	<img src="/img/soundcloud.png" alt="SoundCloud"></a>
      <a id="github" href="https://github.com/ChrisCummins" target="_blank">
	<img src="/img/github.png" alt="GitHub"></a>
    </center>
  </div>

  <div id="overview" class="step" data-x="200" data-y="-300" data-scale="3" data-rotate="25"></div>

  <div id="source" class="step nonstep smallprint" data-x="-5000" data-y="-300" data-rotate="175">
    The source code for this website is available
    <a href="https://github.com/ChrisCummins/chriscummins.cc" target="_blank">here</a>,
    and is released under the terms of the MIT License.
  </div>

  <div id="privacy" class="step nonstep smallprint" data-x="-5000" data-y="-3000" data-rotate="335">
    Privacy is dead, but honestly isn't. This site uses cookies, see
    <a href="http://www.wikihow.com/Disable-Cookies" target="_blank">here</a>
    for instructions on how to disable them. I won't sell or use your
    personal details in any profiteering manner. I would call that a
    promise, but you wouldn't believe me.
  </div>

</div> <!-- /.impress -->

<a id="nav-arrow-left" class="nav-arrow">&lt;</a>
<a id="nav-arrow-right" class="nav-arrow">&gt;</a>

{% endblock %}


{% block footer %}

<script src="/js/index.js"></script>

{% endblock %}
