<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/fonts/cmun-bright.css">
    <link rel="stylesheet" href="/fonts/cmun-typewriter.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>

    <div class="wrapper">

      <header>

        <center>
          <div id="navbar">
            <h1>
              <a href="/">
                CHRIS<b>CUMMINS</b>
              </a>
            </h1>
            <div id="nav">
                <a href="/projects.html">Open Source Projects</a> |
                <a href="/cv.html">Curriculum Vitae</a>
            </div>
          </div>

          <div id="egobar">

            <div class="img-frame">
              <a href="/"><img src="/images/my-face.jpg"/></a>
            </div>

            <p class="view">
              <a href="https://github.com/ChrisCummins" target="_blank">
                GitHub
                <small>Code goes here</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.linkedin.com/profile/view?id=195091553" target="_blank">
                Linked In
                <small>All professional like</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.facebook.com/cecummins" target="_blank">
                Facebook
                <small>All unprofessional like</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.youtube.com/user/ChrisCummins" target="_blank">
                YouTube
                <small>Hitting drums with sticks</small>
              </a>
            </p>
            <p class="view">
              <a href="http://soundcloud.com/peakstudio" target="_blank">
                SoundCloud
                <small>Making noises with other people</small>
              </a>
            </p>

          </div>

        </center>
      </header>

      <section>
        {% comment %} page.date is used as a sentinel to find out if we are
        rendering a post {% endcomment %}
        {% if page.date %}
          <div id="post">
            <h1>{{ page.title }}</h1>
        {% endif %}

        {{ content }}

        {% if page.date %}
            <div id="date">
              {{ page.date | date_to_string }}
            </div>
          </div>
        {% endif %}
      </section>
      <footer>
        <center>
          <p>
            <small>
              Hosted on <a href="http://pages.github.com">GitHub Pages</a>
              &mdash;
              Theme by <a href="https://github.com/orderedlist">orderedlist</a>.
            </small>
          </p>
        </center>
      </footer>
    </div>

    <script>{%include code.firstline.fix.js %}{%include scale.fix.js %}</script>
  </body>
</html>
