<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="The personal website of software developer Chris Cummins.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tooltip" content="Chris Cummins personal website">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {%include google-analytics.html %}
  </head>

  <body>

    <div class="wrapper">

      <header>

        <center>
          <div id="navbar">
            <h1>
              <a href="/">
                CHRIS<b>CUMMINS</b>
              </a>
            </h1>
            <div id="nav">
                <a href="/cv"><b>C</b>urriculum <b>V</b>itae</a> |
                <a href="/projects">Open Source Projects</a>
            </div>
          </div>

          <div id="egobar">

            <div class="img-frame">
              <img src="/images/selfie.jpg" width="180" height="180"/>
            </div>

            <p class="view">
              <a href="https://github.com/ChrisCummins" target="_blank">
                GitHub
                <small>Code goes here</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.linkedin.com/profile/view?id=195091553" target="_blank">
                Linked In
                <small>All professional like</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.facebook.com/cecummins" target="_blank">
                Facebook
                <small>All unprofessional like</small>
              </a>
            </p>
            <p class="view">
              <a href="http://www.youtube.com/user/ChrisCummins" target="_blank">
                YouTube
                <small>Hitting drums with sticks</small>
              </a>
            </p>
            <p class="view">
              <a href="http://soundcloud.com/peakstudio" target="_blank">
                SoundCloud
                <small>Making noises with other people</small>
              </a>
            </p>

          </div>

        </center>
      </header>

      <section>
        {% comment %} page.date is used as a sentinel to find out if we are
        rendering a post {% endcomment %}
        {% if page.date %}
          <div id="post">
            <h1 class="title">{{ page.title }}</h1>
        {% endif %}

        {{ content }}

        {% if page.date %}
            <div id="date">
              {{ page.date | date_to_string }}
            </div>
          </div>
        {% endif %}
      </section>
      <footer>
        <center>
          <p>
            <small>
              <a href="/posts/about/">About</a> this site.
            </small>
          </p>
        </center>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/js/site.min.js"></script>
  </body>
</html>
