<div class="page-title">

  <div class="page-title-inner">

    {% if _title.download is defined %}
    <!-- Download results -->
    <div class="download">
      <a href="{{ _title.download }}" class="btn btn-warning">Download</a>
    </div>
    {% endif %}

    {% if _title.heading is defined %}
    <h3>{{ _title.heading }}</h3>
    {% elseif _title.results is defined %}

    <div class="info">

      <ul class="meta-tags">

        <!-- Number of search results -->
        <li>
          Found {{ _title.results }}
          {% if _title.results > 1 %}
            results...
          {% else %}
            result...
          {% endif %}
        </li>

        <!-- Elapsed time -->
        <li>
          ({{ _title.elapsed_time|number_format(6) }} seconds)
        </li>

      </ul> <!-- /.meta-tags -->

    </div>

    {% endif %}

  </div> <!-- /.page-title-inner -->

  <hr>

</div> <!-- /.page-title -->
