{% extends "_page.html" %}

{% set _page = { "title": "Music" } %}

{% block content %}

<center>
  <div id="music-carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#music-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#music-carousel" data-slide-to="1"></li>
      <li data-target="#music-carousel" data-slide-to="2"></li>
      <li data-target="#music-carousel" data-slide-to="3"></li>
      <li data-target="#music-carousel" data-slide-to="4"></li>
      <li data-target="#music-carousel" data-slide-to="5"></li>
      <li data-target="#music-carousel" data-slide-to="6"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item yt">
        <!-- Brianstorm - Arctic Monkeys -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/Xgg4ChGK6VE?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- Plug in baby - Muse -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/RgsS4lOblso?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- Little Sister - QOTSA -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/qpDQkHGoMWY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- Make it which you - QOTSA -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/uGQYcX3tNcs?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- March of the pigs - NiN -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/DZztp8EmHfo?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- Plug in Truman - philip glass / muse -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/RiZgZKPGHUs?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="item yt">
        <!-- Sabotage - Beastie Boys -->
        <iframe width="1280" height="720" src="http://www.youtube.com/embed/C2UMzAStXfc?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#music-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#music-carousel" data-slide="next">&rsaquo;</a>
  </div>
</center>


<div class="row">
</div> <!-- /.row -->

<div class="row">
  <center>
    <div class="frame" style="border-radius: 5px; margin-bottom: 0">
      <!-- billbeans -->
      <iframe width="100%" height="166" scrolling="no" frameborder="no"
              src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F72824274&amp;color=679ed2&amp;auto_play=false&amp;show_artwork=true">
      </iframe>

      <!-- fleshpest -->
      <iframe width="100%" height="166" scrolling="no" frameborder="no"
              src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F72824273&amp;color=679ed2&amp;auto_play=false&amp;show_artwork=true">
      </iframe>
  </center>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <blockquote class="footer-quote">
      <p>Without music, life would be a mistake.</p>
      <small>Friedrich Nietzsche</small>
    </blockquote>
  </div>
</div>

{% endblock %}

{% block footer %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>
<script src="/js/music.js"></script>

{% endblock %}
